#mastheadcontainer{float:left;width:100%;}
#masthead #sharedlightboxcontainer{top:75px;right:25px;}
.mastheadright{margin-top:34px;}
.innertube{margin:0;}
#sidebar .topbar{margin-right:10px;}
#group .textcontainer{width:100%;}
#group #contentwrapper{width:100%;}
#group_layout3 .categorypagetable{margin-top:20px;}
#group .js-masonry{width:100%;}
#gallery2 #contentwrapper{margin-left:5px;margin-top:20px;}
.galleries-box{float:left;width:99%;height:auto;padding:0;margin-top:5px;margin-left:10px;background-color:#F8F8F8;}
.galleries-scrollbox{float:left;width:100%;height:210px;padding-bottom:12px;}
.galleries-scroller{float:left;padding:0;width:97%;height:210px;overflow-x:hidden;}
#group_layout2 #masthead .masthead-inner,
#group_layout2 #mainMenuContainer{width:100%;}
#group_layout2 #titlebar .innertube{margin:20px 20px 0 20px;}
#group_layout2 #contentwrapper{margin-left:5px;margin-top:40px;}
#group_layout3 #masthead .masthead-inner,
#group_layout3 #mainMenuContainer{width:100%;}
#gallery2 #masthead .masthead-inner,
#gallery2 #mainMenuContainer{width:100%;}
#gallery3 #masthead .masthead-inner{width:auto;}
#gallery3 #sidebar .innertube{margin:20px 90px 0 20px;}
#gallery3 #contentcolumn{margin-top:20px;}
#search #masthead .masthead-inner,
#search #mainMenuContainer{width:100%;}
#search .searchwrapper{width:350px;}
#contentwrapper{float:left;width:100%;height:auto;text-align:left;border:0;font-size:1.20em;}
#contentwrapper .fullwidthpage{float:left;width:100%;height:auto;padding:0;margin:0;}
#preview #contentwrapper{font-size:1.10em;}
#masthead .masthead-inner,
#mainMenuContainer,
.searchwrapper .searchbar{margin-right:0;margin-left:0;}
#contentwrapper .centeredcontent{float:left;height:auto;text-align:left;margin-left:auto;margin-right:auto;}
#home .centeredcontent{width:100%;}
#contentwrapper .centeredfooter{padding:10px;width:992px;height:auto;text-align:left;margin-left:auto;margin-right:auto;}
#masthead .mastheadcenter{width:950px;height:100%;text-align:left;margin-left:auto;margin-right:auto;}
#masthead .masthead-inner{width:100%;height:100%;text-align:left;margin-left:auto;margin-right:auto;}
.searchwrapper {height:0;margin-left:12px;margin-right:12px;position:absolute;right:10px;text-align:left;top:12px;width:420px;z-index:1;border:none;}
.searchbar{float:right;}
.elementshiding1{display:none;}
.searchwrapper .searchbar .fsearchtable{float:right;}
#searchelements{float:right;}
#masthead #userInfo{float:none;position:absolute;margin-top:0;top:10px;right:25px;}
.searchwrapper > div.centered{width:995px;margin-left:auto;margin-right:auto;}
.searchwrapper > div.filled{width:auto;margin-left:12px;margin-right:12px;}
#mainMenuContainer{height:40px;float:left;width:100%;padding:0;white-space:nowrap;text-align:left;}
.menuwrapper{height:40px;float:left;width:100%;}
#mainMenuContainer ul{padding:1px 0;margin:0;list-style-type:none;text-align:center;}
#mainMenuContainer ul#left li,
#mainMenuContainer ul#right li{float:left;padding:10px 7px 10px 10px;}
#mainMenuContainer ul#left{width:50%;}
#mainMenuContainer ul#right{position:absolute;right:10px;}
#mainMenuContainer li a.arrow{padding-left:0;padding-right:10px;background:transparent url(../../images/1_0/menu-dropdown-arrow.png) no-repeat scroll center right;}
#mainMenuContainer li.current{padding-left:1px;padding-right:1px;padding-bottom:1px;z-index:1001;}
#home .menuwrapper{border-bottom:0;}
.menuwrapper > div.centered{width:995px;margin-left:auto;margin-right:auto;}
.menuwrapper.fixcenterwidth{width:100% !important;}
#searchwithincontainer{position:relative;clear:both;height:15px;margin:3px 0 0 15px;}
#searchwithincontainer li{margin-right:10px;padding:0;display:inline;}
#searchwithincontainer li.noshow{display:none;}
#searchwithincontainer .searchradio{border:0;}
#searchwithincontainer #searchwithinchk,
#searchwithincontainer #ksearchevents{margin-top:5px;}
#preview #pagleft,
#preview #pagright{padding:0;margin:0;}
.advsearchshowing,
.advsearchhiding,
.gpanelshowing,
.gpanelhiding{margin-top:4px;width:20px;height:20px;}
.advsearchhiding,
.gpanelhiding{padding:0;margin-top:0;background:url(../navbtns/search_options_lines.png) no-repeat scroll center center;height:85px !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
.advsearchshowing,
.gpanelhowing{background:url(../../images/1_0/advbar_close.png) no-repeat scroll center center;height:20px !important;}
#cmpcontainer{z-index:9001;display:none;float:left;position:absolute;width:1050px;height:1050px;border:1px solid #ccc;padding:10px;overflow:auto;background-color:#fff;border-radius:3px;box-shadow:3px 3px 4px #444;}
#cmpcontainer .compimagebanner{float:left;height:auto;width:100%;padding-bottom:10px;}
#cmpcontainer .loader{float:left;background:url(../../images/infradox/loaders/loader64.gif) no-repeat scroll top right;width:64px;height:64px;}
#cmpcontainer .closebutton{height:16px;padding-left:16px;background:url(../../images/1_0/closexbutton.png) no-repeat scroll top right;float:right;cursor:pointer;}
#preview #pagewrapper{min-width:1024px;}
#closesuggestions{height:16px;padding-left:16px;background:url(../../images/1_0/closexbutton.png) no-repeat scroll top right;float:right;cursor:pointer;margin:-3px -3px 0 0;}
#masthead{height:95px;background-repeat:repeat;width:100%;text-align:center;}
.searchwrapper{ height:0;}
.searchwrapper .searchbuttons a.button{background:transparent url(../../images/1_0/searchbtnright.png) no-repeat scroll top right;display:block;float:left;height:24px;margin-right:6px;padding-right:3px;text-decoration:none;color:#fff;font-size:14px;font-weight:bold;}
.searchwrapper a.button span{background:transparent url(../../images/1_0/searchbtnleft.png) no-repeat;display:block;line-height:24px;padding:0 16px 5px 18px;color:#fff;}
.searchwrapper #isearchreset{margin:0;padding:0;background-image:url(../../images/1_0/closexbutton.png);background-position:center center;background-repeat:no-repeat;height:17px;width:17px;border:none;background-color:transparent;cursor:pointer;position:relative;top:-22px;left:308px;}
#searchwithinbtn{margin:0;padding:0;background-image:url(../../images/1_0/inputboxarrow.png );background-position:center center;background-repeat:no-repeat;height:24px;width:20px;border:none;background-color:transparent;cursor:pointer;position:relative;top:-25px;left:150px;}
.fsearchtable td.searchcontainer{background-color:#616B66;border-top:#616B66;border-bottom:#616B66;}
#floatinglightbox #lightboxtoolbar{background-color:#aaa;}
#floatinglightbox .panelarrow,
#floatingcart .panelarrow{float:left;height:95px;width:20px;margin:1px 3px 1px 3px;}
#floatinglightbox .leftarrow,
#floatingcart .leftarrow{background:transparent url(../navbtns/panelleft0TRANS.png) no-repeat scroll center right;}
#floatinglightbox .rightarrow,
#floatingcart .rightarrow{background:transparent url(../navbtns/panelright0TRANS.png) no-repeat scroll center right;}
#floatinglightbox .lefton,
#floatingcart .lefton,
#floatinglightbox .righton,
#floatingcart .righton{cursor:pointer;background-color:#999;}
#floatinglightbox .leftoff,
#floatingcart .leftoff,
#floatinglightbox .rightoff,
#floatingcart .rightoff{cursor:default;background-color:#999;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
ul.colorbuttons{float:left;width:auto;}
ul.colorbuttons li{float:left;margin:0 0 5px 0;padding:0;}
ul.colorbuttons a.button{background:transparent url(../../images/2_0/colorbuttonright.png) no-repeat scroll top right;display:block;float:left;height:24px;margin-right:6px;padding-right:3px;text-decoration:none;color:#fff;font-size:14px;font-weight:bold;cursor:pointer;}
ul.colorbuttons a.button span{background:transparent url(../../images/2_0/colorbuttonleft.png) no-repeat;display:block;line-height:24px;padding:0 16px 5px 18px;color:#fff;}
ul.colorbuttons a.button:hover span{text-decoration:none;}
.thumbnavpageprev,
.thumbnavpagenext{height:14px;padding-right:14px;background:url(../navbtns/pagepreviousTRANS.png) no-repeat scroll top right;}
.thumbnavpagenext{background:url(../navbtns/pagenextTRANS.png) no-repeat scroll top right;}
.thumbnavpageprev,
.thumbnavpagenext{background-color:#999;}
.arrowicon,
.arrowiconup,
.arrowicondown{height:5px;padding-right:7px;background:url(../../images/1_0/smallgreyarrowup.gif) no-repeat scroll top right;}
.arrowicondown{background:url(../../images/1_0/smallgreyarrowdown.gif) no-repeat scroll top right;}
.filterimagetypephotos,
.filterimagetypeillustrations{margin:-1px 3px 0 3px;height:15px;padding-right:15px;background:url(../../images/1_0/imagetype_photos.gif) no-repeat scroll top right;}
.filterimagetypeillustrations{background:url(../../images/1_0/imagetype_illustrations.gif) no-repeat scroll top right;}
li.viewstyleimg{height:86px;padding-left:172px;margin-bottom:4px;}
li.style0{background:url(../../images/1_0/viewstyles_0.png) no-repeat scroll top right;}
li.style1{background:url(../../images/1_0/viewstyles_1.png) no-repeat scroll top right;}
li.style2{background:url(../../images/1_0/viewstyles_2c.png) no-repeat scroll top right;}
li.style3{background:url(../../images/1_0/viewstyles_3.png) no-repeat scroll top right;}
li.style4{background:url(../../images/1_0/viewstyles_4.png) no-repeat scroll top right;}
li.boxclosexbutton{height:16px;padding-left:16px;background:url(../../images/1_0/closexbutton.png) no-repeat scroll top right;}
ul.oricheckboxes li.hor{background:transparent url(../../images/1_0/o_hor.gif) no-repeat scroll 19px 3px;}
ul.oricheckboxes li.ver{background:transparent url(../../images/1_0/o_ver.gif) no-repeat scroll 19px 0;}
ul.oricheckboxes li.pan{background:transparent url(../../images/1_0/o_pan.gif) no-repeat scroll 19px 5px;}
ul.oricheckboxes li.sqr{background:transparent url(../../images/1_0/o_sqr.gif) no-repeat scroll 19px 1px;}
li.rightsiconRF{padding-left:15px;background:url(../../images/1_0/rficon.png) no-repeat scroll 0 0 transparent;}
li.rightsiconRM{padding-left:15px;background:url(../../images/1_0/rmicon.png) no-repeat scroll 0 0 transparent;}
li.iconMR{padding-left:15px;background:url(../../images/1_0/modelrelease.png) no-repeat scroll 0 0 transparent;}
li.iconPR{padding-left:15px;background:url(../../images/1_0/propertyrelease.png) no-repeat scroll 0 0 transparent;}
li.iconRS{padding-left:15px;background:url(../../images/1_0/restrictions.png) no-repeat scroll 0 0 transparent;}
li.iconTR{padding-left:15px;background:url(../../images/1_0/bullet_delete.png) no-repeat scroll -1px -1px transparent;}
.gridModeBox .searchlinks li{display:block;list-style:none;position:absolute;top:0;}
#order .rf{display:inline-block;width:30px;height:15px;background:url(../../images/1_0/rficon.png) no-repeat 0 -1px;}
#order .rm{display:inline-block;width:30px;height:15px;background:url(../../images/1_0/rmicon.png) no-repeat 0 -1px;}
#carttoolbar{float:left;width:100%;background-color:transparent;}
#carttoolbar ul.colorbuttons{padding-left:5px;}
#closecarttermswindow,
#closepageloadbox{background-image:url(../../images/1_0/closexbutton.png);background-position:center center;background-repeat:no-repeat;height:17px;width:17px;border:none;background-color:transparent;cursor:pointer;margin-bottom:5px;}
#lbpanelbuttons li{background:url(../../images/2_0/lightboxthumbbuttons.png) no-repeat scroll 0 0 transparent;}
#cartpanelbuttons li{background:url(../../images/2_0/cartthumbbuttons.png) no-repeat scroll 0 0 transparent;}
#lbpanelbuttons .lbp_remove{background-position:-6px -24px; left:71px}
#lbpanelbuttons .lbp_remove a:hover{background:url(../../images/2_0/lightboxthumbbuttons.png) -6px 0}
#lbpanelbuttons .lbp_order{background-position:-55px -24px; left:46px}
#lbpanelbuttons .lbp_order a:hover{background:url(../../images/2_0/lightboxthumbbuttons.png) -55px 0}
#cartpanelbuttons .crtp_remove{background-position:-4px -24px; left:69px}
#cartpanelbuttons .crtp_remove a:hover{background:url(../../images/2_0/cartthumbbuttons.png) -4px 0}
#lightboxdashboard #closebutton{height:16px;padding-left:16px;background:url(../../images/1_0/closexbutton.png) no-repeat scroll top right;float:right;cursor:pointer;margin-top:-16px;}
#lightboxfind .lbfindtoggle,
#lightboxnew .lbnewtoggle{text-decoration:none;background-image:url(../../images/1_0/smallstatearrow.png);background-repeat:no-repeat;background-position:0 4px;padding:0 0 0 12px;}
#lightboxfullmodal .pagination li.pagenext,
#lightboxfullmodal .pagination li.pageprevious{padding:4px;background-image:url(../../images/1_0/pagenext.png);background-position:4px 2px;background-repeat:no-repeat;width:14px;height:14px;}
#lightboxfullmodal .pagination li.pageprevious{background-image:url(../../images/1_0/pageprevious.png);background-position:5px 2px;}
#lightboxrearrange .boxclosexbutton{margin-top:-16px;}
#paneltabcontainer_0_0{display:none;float:left;left:-7px;width:34px;cursor:pointer;position:fixed;}
#paneltabcontainer_0_1{display:none;float:left;left:1px;width:100%;position:fixed;height:30px;border-top:1px solid #ddd;}
.layout li{background-color:#848584;}
.layout li a{color:#fff;}
.itemsperpage li{background-color:#848584;}
#paneltabcontainer_0_0 a{display:none;}
#paneltabcontainer_0_1 div{padding:8px 0 0 20px;}
#paneltabcontainer_0_1 a{color:#fff;text-decoration:none;font-weight:bold;}
#lightboxtooltab,
#carttooltab{float:left;margin-bottom:2px;cursor:pointer;width:27px;height:97px;}
.lightboxtooltab_us_0_0{background:url(../../images/1_0/us/lightboxclosedtab.png) no-repeat scroll top right;}
.carttooltab_us_0_0{background:url(../../images/1_0/us/cartpanelclosedtab.png) no-repeat scroll top right;}
.lightboxtooltab_nl_0_0{background:url(../../images/1_0/nl/lightboxclosedtab.png) no-repeat scroll top right;}
.carttooltab_nl_0_0{background:url(../../images/1_0/nl/cartpanelclosedtab.png) no-repeat scroll top right;}
.lightboxtooltab_fr_0_0{background:url(../../images/1_0/fr/lightboxclosedtab.png) no-repeat scroll top right;}
.carttooltab_fr_0_0{background:url(../../images/1_0/fr/cartpanelclosedtab.png) no-repeat scroll top right;}
.lightboxtooltab_de_0_0{background:url(../../images/1_0/de/lightboxclosedtab.png) no-repeat scroll top right;}
.carttooltab_de_0_0{background:url(../../images/1_0/de/cartpanelclosedtab.png) no-repeat scroll top right;}
.lightboxtooltab_es_0_0{background:url(../../images/1_0/es/lightboxclosedtab.png) no-repeat scroll top right;}
.carttooltab_es_0_0{background:url(../../images/1_0/es/cartpanelclosedtab.png) no-repeat scroll top right;}
.lightboxtooltab_us_0_1,.carttooltab_us_0_1,
.lightboxtooltab_fr_0_1,.carttooltab_fr_0_1,
.lightboxtooltab_de_0_1,.carttooltab_de_0_1,
.lightboxtooltab_es_0_1,.carttooltab_es_0_1,
.lightboxtooltab_nl_0_1,.carttooltab_nl_0_1{width:auto;height:30px;}
#searchoptionsbox{z-index:9999;}
#help .textcontainer,#subscriptions .textcontainer,#terms .textcontainer,#about .textcontainer,#ancilary .textcontainer{float:left;width:auto;}
.labelrf{color:green;}
.labelrm{color:red;}
.dropdownmenu{box-shadow:2px 3px 3px 0 #666;}
#mainimagelist{width:100%;}
#boxbox{width:100%;}
#page-footer{width:100%;}
#page-footer .sitemap{width:100%;}
#bottombar .customfooter{width:100%;}
#homeicon{margin-top:-3px;margin-left:-5px;}
#group .centeredcontent,
#group_layout4 .centeredcontent{width:100%;}
#group .groupthumbs,
#group .groupthumbs1{width:95%;}
